<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>VUI</title>

        <script type="text/javascript">
            // create a div
            // var createDefaultDiv = function(localArgs) {
            //     var sDiv = document.createElement('div');
            //     sDiv.setAttribute('style', 'height: 200px; background-color: #eee; padding: 5px; margin: 5px;');
            //     document.querySelector('#s-main-inner-container').append(sDiv);
            // }

            // initial process func on client side
            // var sProcessInput = function() {
            //     var processText = document.querySelector("#s-take-input").value;
            //     if(processText && processText.includes('create') && processText.includes('div')) {
            //         createDefaultDiv();
            //     }
            // }
            var counter = 0;

            var processInputFromBackend = function() {
                $.ajax({
                    url: "/getCommand?commandText="+document.querySelector("#s-take-input").value+"&counter="+(++counter), 
                    type: "GET",
                    success: function(result){
                        if(result.data && result.data.length) {
                            eval(result.data);
                        }
                    },
                    error: function(xhr,status,error) {
                        console.log("something went wrong in processInputFromBackend", xhr, status, error);
                    }
                });
            }
        </script>

        <style>
            body {
                box-sizing: border-box;
                transition: all 0.2s linear;
            }
            .s-main-container {
                position: relative;
                padding-bottom: 60px;
            }
            .s-bottom-container {
                bottom: 0px;
                position: fixed;
                text-align: center;
                padding-bottom: 20px;
                padding-top: 20px;
                border-top: solid 1px #eee;
                width: 100%;
                background: white;
                z-index: 5;
            }
            .s-process-textbox {
                width: 80%;
            }
            .s-process-btn {
                background: #6565ea;
                color: white;
                border-radius: 0px;
            }
        </style>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id = "s-main-container" class = "s-main-container">

        <h3 style = "text-align: center;">Create UI from VUI</h3>
        <div id = "s-main-inner-container">
        </div>

        <div id = "s-main-process-result">

        </div>

        <div class = "s-bottom-container">

                <input class = "s-process-textbox" type = "text" id = "s-take-input"/>
                <button class = "s-process-btn" onclick = "processInputFromBackend()"> 
                    Process
                </button>
            
        </div>
    </div>
    
    

<% include partials/footer %>